/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,800";
@font-face {
	font-family: "percolate";
	src: url("/assets/icon/percolate.eot?-5w3um4");
	src: url("/assets/icon/percolate.eot?#iefix5w3um4") format("embedded-opentype"), url("/assets/icon/percolate.woff?5w3um4") format("woff"), url("/assets/icon/percolate.ttf?5w3um4") format("truetype"), url("/assets/icon/percolate.svg?5w3um4") format("svg");
	font-weight: normal;
	font-style: normal;
}
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
	border: 0;
	outline: none;
}
.primary {
	background-color: #553c9a;
}
.secondary {
	background-color: #d53f8c;
}
.tertiary {
	background-color: #38a169;
}
.bg-white {
	background-color: white;
}
.bg-pink {
	background-color: #d53f8c;
}
.bg-green {
	background-color: #38a169;
}
.bg-light-pink {
	background-color: #fed8e2;
}
.text-pink {
	color: #d53f8c;
}
.text-white {
	color: white;
}
.padding {
	padding: 1% 3%;
}
.padding-x {
	padding: 2px 3%;
}
.margin {
	margin: 2%;
}
.border {
	border: 1px solid black;
}
.card {
	padding: 3%;
}
.careerprofile {
	width: fit-content;
}
.ml-auto {
	margin-left: auto;
}
.mr-1 {
	margin-right: 10px;
}
.border-radius {
	border-radius: 10px;
}
.text-center {
	text-align: center;
}
.holland-code {
	width: 40%;
}
.text-muted {
	color: #6c757d;
}
.bg-purple {
	background-color: #44337a;
}
.text-light-purple {
	color: #e9d8fd;
}
.active {
	border-left: 2px solid white;
	color: white;
}
.padding-left {
	padding-left: 10%;
}
.padding-y {
	padding: 2% 0;
}
.missioncontrol {
	width: 20%;
}
.margin-y {
	margin: 2% 0;
}
.flex-display {
	display: flex;
	align-items: center;
}
.w-auto {
	width: fit-content;
}
input[type="search"] {
	padding: 10px;
	border-radius: 50px;
	border: 1px solid black;
	background-image: url("./assets/search.png");
	background-repeat: no-repeat;
	background-position: 5% 50%;
	text-indent: 50px;
	outline: none;
}
